.btn {
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #b3b3b3;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

.attr {
  font-weight: bold;
  color: #333;
}

.btn:focus {
  outline: 0;
}

 input[id='text'], .into, .font {
  border: 1px solid #dedede;
  font-weight: 500;
  border-radius: 5px;
  display: block;
  margin: 5px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.addPart {
  padding-bottom: 8rem;
}

@media screen and (max-width:580px) {
.btn, input[id='text'], .into, .font {
  font-size: 10px;
  padding: 4px 5px;
}

.attr {
  font-weight: bold;
  color: #333;
  font-size: 10px;
}

.addPart {
  padding-bottom: 3rem;
}
}
