.list {
  /* display: flex; */
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.6rem;
}

.fNormal {
  background-color: transparent;
  color: #333;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  justify-content: space-between;
  position: relative;


}

.fBold {
  background-color: transparent;
  color: #333;
  font-weight: bold;
  justify-content: space-between;
  position: relative;
  line-height: 2.5rem;
  /* margin-bottom: 1rem; */
}

.fItalic {
  background-color: transparent;
  color: #333;
  font-style: italic;
  justify-content: space-between;
  position: relative;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: 0;
}

.list li:hover .delete-btn {
  opacity: 1;
}



@media screen and (max-width:580px) {
.list {
  font-size: 0.5rem;
  margin-bottom: 10px;
}

.fNormal {
  padding: 1px;
  margin: 3px 0;
}

.fBold {
  padding: 2px;
  margin: 5px 0;
}

.fItalic {
  padding: 1px;
  margin: 2px 0;
}

}
