.list {
  /* display: flex; */
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  width: 800px;
}

.fNormal {
  background-color: transparent;
  color: #333;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  justify-content: space-between;
  position: relative;
  padding: 3px;
  margin: 5px 0;
}

.fBold {
  background-color: transparent;
  color: #333;
  font-weight: bold;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  margin: 10px 0;
}

.fItalic {
  background-color: transparent;
  color: #333;
  font-style: italic;
  justify-content: space-between;
  position: relative;
  padding: 1px;
  margin: 5px 0;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: 0;
}

.list li:hover .delete-btn {
  opacity: 1;
}
