.inc-exp-container {
  /* box-shadow: var(--box-shadow); */
  background-color: transparent;
  padding: 0px;
  margin-bottom: 1.5em;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 800px;
}


h4 {
  color: black;
  font-family: 'Lato', sans-serif;
}

.phone{
  flex: 5;
  border-right: 2px solid lightgrey;
}

.email{
  flex: 5
}
