.headerStyle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 3rem;
}

.name {
  font-weight: 800;
  text-align: center;
}

.homeR {
  position: fixed;
  top: 20px;
  right: 10px;
  color: #000;
}

@media screen and (max-width:580px) {

}
