.resume {
  background: linear-gradient(to right, rgba(211,211,211,1), rgba(211,211,211,0.3));
  /* display: flex;
 flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 130vh;
  padding-left: 30vw;
  padding-right: 30vw;
  font-family: 'Work Sans', sans-serif;
}

.sectionTitle {
  border-bottom: 1px solid #bbb;
  color: black;
  font-size: 20px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 100%;
}

@media screen and (max-width: 580px) {
.resume {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sectionTitle {
  font-size: 10px;
}
}
