body {
  overflow-x: hidden;
}

.content {
  background: #1e1e1e;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 8% 3% 3%;
  color: rgb(255, 245, 235);
  font-family: "Work Sans", sans-serif;
}

/* title setting */
.content__title {
  font-size: 1rem;
  padding-bottom: 2vh;
  color: #f4cbb2;
  cursor: pointer;
}

.content__description {
  padding-bottom: 8vh;
  font-size: 0.9rem;
  color: #dfe9c8;
}

/* demo setting*/
.content__demo {
  padding-top: 1vh;
  padding-bottom: 8vh;
  display: flex;
}

.content__demo > a {
  text-decoration: none;
}

.content__demo > a > h3 {
  color: #f4cbb2;
  transition: all 0.3s ease;
}

.content__demo > a > h3:hover {
  transform: scale(1.1);
  color: #ffb900;
}

/* features setting */
.content__feature > h3 {
  color: #f4cbb2;
  padding-bottom: 1vh;
  cursor: pointer;
}

.content__feature_list {
  padding-top: 4vh;
  padding-bottom: 8vh;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  width: 60%;
  color: #dfe9c8;
}

.content__feature_list > div {
  display: flex;
  justify-content: center;
  width: 20%;
}

.content__feature_list > div > ul {
  list-style: none;
}

/* explore more */
.content__explore > a {
  text-decoration: none;
  display: flex;
}

.content__explore > a > h3 {
  color: #f4cbb2;
  padding-bottom: 8vh;
  padding-top: 2vh;
  transition: all 0.3s ease;
}

.content__explore > a > h3:hover {
  transform: scale(1.1);
  color: #ffffff;
}

/* screenshot setting */
.content__ss__title {
  padding-top: 2vh;
  padding-bottom: 1vh;
  color: #f4cbb2;
  cursor: pointer;
}

.content__screenshot {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.content__screenshot > img {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
