* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* grid content style */
h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px;
}

.homeName {
  font-size: 40px;
  font-weight: 600;
}

.res {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

p {
  font-size: 20px;
}

/* home logo scroll to top*/
.homeb {
  position: fixed;
  z-index: 1;
  color: #fff;
  top: 5px;
  right: 5px;
  padding: 20px 10px;
  /* margin-left: 100rem; */
  /* padding-top: 1rem; */
  /* display: flex; */
  /* align-items:flex-end;
  justify-content: right;
  text-align: right; */
}

.homeb:hover {
  transform: scale(0.9);
  transition: all 0.5s ease-in;
}

/* about general setting */
.section-head {
  font-size: 2rem;
  margin-top: 10vh;
}

.section-content {
  font-size: 1.3rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

/* about me section */
.aboutMe {
  background: #1e1e1e;
  color: white;
  overflow-y: hidden;
  padding: 2rem 0;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  /* height: 100vh; */
  width: 100%;
}

.aboutbg {
  padding-top:  2rem;
  width: 80%;
}

/* what I do section */
.ido {
  /* background: lightgrey; */
  background: linear-gradient(to right, rgba(33,33,33,0.8), rgba(255,255,255,0));
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow-y: hidden;
  padding: 10rem 0;
  line-height: 1.6;
  text-align: left;
  width: 100%;
  /* text-indent: 2rem; */
}

.running {
  font-size: 10rem;
  text-align: center;
}

.ido > div:nth-of-type(2) {
  grid-column: 2 / 4;
}

/* education section */
/* .edu {
  background: #1e1e1e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  color: white;
  text-align: left;
}

.cert {
  width: 100%;
  text-align: right;
}

.eduList {
  list-style: none;
  font-size: 1.3rem;
  line-height: 2em;
  margin-top: 8rem;
  margin-right: 8rem;
  padding-left: 10px;
  text-align: left;
} */

/* education */
.education {
  padding: 0 1rem;
  list-style: none;
  line-height: 1.6em;
  font-size: 1rem;
  text-align: left;
}

/* expertise */
.skills {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
}

.languages {
  list-style: none;
  line-height: 1.6em;
  font-size: 1rem;
  text-align: center;
}

.frameworks {
  list-style: none;
  line-height: 1.6em;
  font-size: 1rem;
  text-align: center;
}

/* container grid setting */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background: #282828;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.container > div, .front > div, .link > div{
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  /* height: 25vh; */
  position: relative;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-in;
}

.back {
  height: 210px;
  cursor: pointer;
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-in;
}

.container > h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.container > h2 span {
  font-size: 30px;
}

.container > p {
  font-size: 20px;
}

.container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.link > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 5;
}

.container > div:nth-of-type(4) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(8) {
  grid-column: 2 / 5;
}

.bg1 {
  background: url('./bgImages/hk.jpg');
}

.bg2 {
  background: url('./bgImages/hk.jpg');
  color: white;
}

/* mobile setting */
@media screen and (max-width: 580px) {
.in-small {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
}

.homeName {
    font-size: 25px;
    font-weight: 600;
}

.container > div:nth-of-type(1) {
  grid-column: auto;
}

.container > div:nth-of-type(4) {
  grid-column: auto;
}

.container > div:nth-of-type(8) {
  grid-column: auto;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 5px;
}

.qC {
  display: none;
}

.section-head {
  font-size: 1rem;
  margin-top: 5vh;
  font-weight: 300;
  margin-bottom: 1rem;
}

.section-content {
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: left;
}

.aboutMe {
  padding: 2rem;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.back, .container > div, .front > div, .link > div{
  height: 150px;
}

.education, .languages, .frameworks, .contactI {
  padding:  1rem;
  line-height: 1.6em;
  font-size: 0.8rem;
}

.ido {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  overflow-y: hidden;
  padding-top: 1rem;
  padding-bottom: 6rem;
  text-align: center;
  width: 100%;
}

.running {
  font-size: 5rem;
  text-align: center;
}

.ido > div:nth-of-type(2) {
  grid-column: auto;
}

}
